.ui-body-c .ui-link {
	  color: black;
}
#genre {
	z-index: 99;
	
}
#logo {
	max-width:20%;
	max-height: 20%;
	text-align: center;
	display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: left; 
    padding-left:2%;
    margin: 0 auto;
}

#logo {
  transition:all 2s;
  -webkit-transition: all 2s;
}
.rotate{
  transform: rotate(360deg);
}


ul#menu {
    list-style: none outside none; 
    margin:0; 
    padding: 0; 
    text-align: center;
    background-color: black;
}

.ui-page { 
background:#E6E6E6;
}


}
#menu li {
	    display: inline;
        display: inline;
        margin: 0 10px;

}

.game{
  width: 9em;
  height: 4.5em;
  margin: 1%;
  background-color: grey;
  display: inline-block;
  padding: 0;
  list-style: none;

}
.game img{
  width: 100%;
  height:100%;
}

h2{
	clear:left;
}
.Links {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.5px;
	position: absolute;
	background: rgba(40, 110, 113, 0.9);
	width: 100%;
	height: 100%;
	display: none;
    left: 0px;
    top: 0px;
    z-index: 100;
}
.Links2 {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.5px;
	position: absolute;
	background: rgba(40, 110, 113, 0.9);
	width: 100%;
	height: 100%;
	display: none;
    left: 0px;
    top: 0px;
    z-index: 100;
}



.Links ul{
	padding:0;
	vertical-align: bottom;

}

.Links2 ul{
	padding:0;
	vertical-align: bottom;

}

.Links ul li{
	list-style: none;
    text-align: center;

}

.Links2 ul li{
	list-style: none;
    text-align: center;

}
a {
	text-decoration: none;
}

.Links ul li a{
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 30px;
	display:block;
	color:black;

}
.Links2 ul li a{
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 30px;
	display:block;
	color:black;

}

.Links ul li a:hover{
	background-color: blue;
	color:white;
}
.ui-content{
	padding:0;
}
.Menu li{
	padding-top:2%;
	list-style: none;
	background-color: black;
    display: inline;
}

.Menu li a{
	text-decoration: none;
	color: white;
}

a.closeLinks.ui-link {
	background: rgba(40, 110, 113, 0.9);


}
.closelinks {

}

.closeimg {
	width: 25%;
	height: 25%;
}
.openmenu {
	padding-left: 10px;
	height:50px;

}


#ul.menu {
}

.homePreviews{
	clear: both;
    padding-left: 0px;
	margin: 0 auto;
	text-align: center;
	width:100%;
    vertical-align: middle;
    text-align:center;
}
a.openLinks.ui-link{
	color:white;
	text-decoration: none;
}
a.openLinks2.ui-link{
	color:white;
	text-decoration: none;
}